<div class="content">
  <div class="half left">
    <h1>Bem vindo(a) a minha página da Ford&lt;Enter&gt;</h1>
    <ul>
      <li>
        <span class="list-icon"><mat-icon>rocket_launch</mat-icon></span>
        <span
          >Aqui você vai encontrar os projetos que desenvolvi durante minha
          trajetória no programa.</span
        >
      </li>
      <li>
        <span class="list-icon"><mat-icon>info</mat-icon></span>
        <span
          >O FordEnter é um programa da
          <a
            class="external-link"
            href="https://www.fordphilanthropy.org/"
            target="_blank"
            rel="noopener noreferrer"
            >Ford Philanthropy</a
          >
          em parceria com o
          <a
            class="external-link"
            href="https://www.senaicimatec.com.br/"
            target="_blank"
            rel="noopener noreferrer"
            >Senai Cimatec</a
          >
          e a
          <a
            class="external-link"
            href="https://www.redecidada.org.br/projetos/ford-enter/"
            target="_blank"
            rel="noopener noreferrer"
            >Rede Cidadã</a
          >, voltado para a formação de Desenvolvedores Web FrontEnd</span
        >
      </li>
      <li>
        <span class="list-icon"><mat-icon>help</mat-icon></span>
        <span
          >Quer saber mais sobre o programa?
          <a
            class="external-link" 
            href="https://www.ford.com.br/sobre-a-ford/ford-enter/"
            target="_blank"
            rel="noopener noreferrer"
            >Veja aqui</a
          ></span
        >
      </li>
    </ul>
    <app-time-line />
    <div class="indicator-down">
      <p>Veja abaixo os projetos construídos ao longo desta jornada!</p>
      <mat-icon class="icon-down">keyboard_double_arrow_down</mat-icon>
    </div>
  </div>
  <div class="half right">
    <div class="personal-profile">
      <img
        class="profile-image"
        ngSrc="/images/alvaro_profile.png"
        width="250"
        height="250"
        priority
        alt="Imagem pessoal de Álvaro"
      />

      <p class="personal-name">Álvaro Nascimento</p>
    </div>
    <div class="social-links">
      <a
        class="social-button"
        mat-fab
        extended
        href="https://linkedin.com/in/alvarento"
        target="_blank"
        rel="noopener"
      >
        <mat-icon svgIcon="linkedin" class="icon-sm accent"></mat-icon>
        Linkedin
      </a>
      <a
        class="social-button"
        mat-fab
        extended
        href="https://github.com/alvarento"
        target="_blank"
        rel="noopener"
      >
        <mat-icon svgIcon="github" class="icon-sm accent"></mat-icon>
        GitHub
      </a>
    </div>
  </div>
</div>
