//colors for Light Theme
$primary-color-light: #1351d8;
$bg-color-light: #f1f3f3;
$text-color-light: #616161;
$second-text-color-light: #0000ee;
$title-color-light: #00095B;
$wave-color-light: #d7e3ff;
$bg-card-light: #fff;
$button-color-light: #d7e3ff;
$dots-load-color-light: #1351d8;
$tooltip-bg-color-light: #333c4d;

//colors for Dark Theme
$primary-color-dark: #1351d8;
$bg-color-dark: #333c4d;
$text-color-dark: #dae2f9;
$second-text-color-dark: #aac7ff;
$title-color-dark: #ffffff;
$wave-color-dark: #1f467e;
$bg-card-dark: #1d2636;
$button-color-dark: #4c4d65;
$dots-load-color-dark: #f1f3f3;
$tooltip-bg-color-dark: #f1f3f3;
