<div class="container">
   <app-theme-toggle/>
   <section class="section about-section" id="section1">
      <svg class="svg-wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
         <path fill="#d7e3ff" fill-opacity="1" d="M0,32L1440,320L1440,0L0,0Z"></path>
      </svg>
      <app-about />
   </section>
</div>
<div class="container">
   <section class="section projects-section" id="section2">
      <h2 class="projects-section__title">
         <span class="title-text">Projetos construídos</span>
         <span class="icon"><mat-icon class="folder-icon">folder_copy</mat-icon></span>
      </h2>
      <app-custom-swiper />
   </section>
</div>


<!-- <div class="triangle"></div> -->