@use './styles/fonts.scss';


html {
   scroll-behavior: smooth;
}

// html,
// body {
//    height: 100%;
// }

* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'poppins', 'roboto', Arial, Helvetica, sans-serif;
}

body {
   margin: 0;
   background: #f1f3f3;
   // scroll-behavior: smooth;
   // font-family: 'Poppins', 'Roboto', "Helvetica Neue", sans-serif;
}

.swiper-wrapper {
   background-color: red !important;
}